<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string><key>CFBundleName</key><string>VibeOS</string><key>CFBundleDisplayName</key><string>VibeOS</string><key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string><key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleShortVersionString</key><string>0.1.0</string><key>CFBundleVersion</key><string>1</string>
<key>UILaunchScreen</key><dict/><key>UIUserInterfaceStyle</key><string>Dark</string>
<key>RevenueCatKey</key><string>$(REVENUECAT_IOS_KEY)</string><key>CatalogURL</key><string>$(VIBEOS_CATALOG_URL)</string><key>AIEndpoint</key><string>$(VIBEOS_AI_ENDPOINT)</string>
<key>NSPhotoLibraryAddUsageDescription</key><string>Save your chosen VibeOS wallpaper to Photos so you can apply it in Settings.</string>
<key>CFBundleURLTypes</key><array><dict><key>CFBundleURLSchemes</key><array><string>vibeos</string></array></dict></array>
</dict></plist>
